.idea/
.serverless/
.vscode/
node_modules*/

/coverage*/
/dist*/
/lib*/
/tmp*/

.DS_Store
.npmrc
npm-debug.log
yarn-error.log

# Gantry resource files support non-standard template syntax
gantry*.yaml
gantry*.yml
