name: Validate

on:
  pull_request:

  push:
    branches-ignore:
      - master

  workflow_run:
    branches:
      - master
    types:
      - completed
    workflows:
      - Release

jobs:
  core:
    name: Lint & Test
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Check out repo
        uses: actions/checkout@master
        with:
          lfs: true

      - name: Set up Node.js 12.x
        uses: actions/setup-node@master
        with:
          node-version: 12.x

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test

  template:
    name: Integrate
    runs-on: ubuntu-latest
    env:
      CI: true
    strategy:
      matrix:
        template:
          - greeter
          - koa-rest-api
          - lambda-sqs-worker
          - oss-npm-package
          - private-npm-package
          - express-rest-api
    steps:
      - name: Check out repo
        uses: actions/checkout@master
        with:
          lfs: true

      - name: Set up Node.js 12.x
        uses: actions/setup-node@master
        with:
          node-version: 12.x

      - name: Test template
        run: yarn test:template ${{ matrix.template }}
