name: Validate

on:
  pull_request:

  push:
    branches-ignore:
      - master

  workflow_run:
    branches:
      - master
    types:
      - completed
    workflows:
      - Release

permissions: {}

jobs:
  core:
    name: Lint & Test
    permissions:
      checks: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn test:ci

      - name: Lint
        run: yarn lint

      - if: github.event_name == 'push'
        name: Dry-run changelog versioning
        run: yarn changeset version

      - if: github.event_name == 'push'
        name: Dry-run site packaging
        run: yarn skuba node scripts/package.ts

  template:
    name: Integrate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        template:
          - express-rest-api
          - greeter
          - koa-rest-api
          - lambda-sqs-worker
          - lambda-sqs-worker-cdk
          - oss-npm-package
          - private-npm-package
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - if: github.head_ref != 'changeset-release/master' && github.ref_name != 'changeset-release/master'
        name: Test template
        run: yarn test:template ${{ matrix.template }}
