name: Validate

on:
  pull_request:

  push:
    branches-ignore:
      - master

  workflow_run:
    branches:
      - master
    types:
      - completed
    workflows:
      - Release

jobs:
  core:
    name: Lint & Test
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Check out repo
        uses: actions/checkout@master
        with:
          lfs: true
          token: ${{ secrets.SEEK_OSS_CI_GITHUB_TOKEN }}

      - name: Set Git user
        run: |
          git config user.name seek-oss-ci
          git config user.email 34733141+seek-oss-ci@users.noreply.github.com

      - name: Set up Node.js 16.x
        uses: actions/setup-node@master
        with:
          node-version: 16.x

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn test:ci

      - name: Lint
        run: yarn lint

      - if: github.event_name == 'push'
        name: Dry-run changelog versioning
        run: yarn changeset version

      - if: github.event_name == 'push'
        name: Dry-run site packaging
        run: yarn skuba node scripts/package.ts

  template:
    name: Integrate
    runs-on: ubuntu-latest
    env:
      CI: true
    strategy:
      matrix:
        template:
          - express-rest-api
          - greeter
          - koa-rest-api
          - lambda-sqs-worker
          - lambda-sqs-worker-cdk
          - oss-npm-package
          - private-npm-package
    steps:
      - name: Check out repo
        uses: actions/checkout@master
        with:
          lfs: true

      - name: Set up Node.js 16.x
        uses: actions/setup-node@master
        with:
          node-version: 16.x

      - name: Test template
        run: yarn test:template ${{ matrix.template }}
